a.navbar-brand {
    margin-left: 149px;
}

a.nav-link-signup {
    display: inline-block;
    margin-right: 145px;
}

.jumbotron {
    background-image: url("../imgs/pizza.png");
    background-size: cover;
}

h1 {
    opacity: 60%;
    background-color: white;
}

.card {
    margin: 20px;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: #f7f7f7;
    padding: 10px;
    border-top: 1px solid #efefef;
}

.form-check-input {
    margin-left: 0;
}

label.form-check-label {
    margin-left: 18px;
}

i.fas.fa-user {
    margin-right: 5px;
}