* {
    box-sizing: border-box;
    margin: 0;
}

main.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 22% 1fr;
    grid-template-rows: 4% 1fr 1fr 1fr 7% 9% 4%
}

.nav-top {
    background-color: black;
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}

.nav-top ul {
    display: flex;
    text-decoration: none;
    padding-left: 16px;
}

.nav-top ul li a {
    color: white;
    padding: 6px 25px 6px 0;
}

.nav-left {
    background-color: #dddddd;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.nav-left ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 16px;
}

.nav-left ul li a{
    padding: 10px 0;
    color: black;
}

.heading-top {
     background-color: #7ef5ff;
     grid-column: 2 / -1;
     grid-row: 2 / span 1;
}

.heading-middle {
    background-color: bisque;
    grid-column: 2 / -1;
    grid-row: 3 / span 1;
}

.heading-bottom {
    background-color: palegreen;
    grid-column: 2 / -1;
    grid-row: 4 / span 1;
}

.nav-bottom {
    display: flex;
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 5 / span 1;
    justify-content: center;
}

.nav-bottom ul {
    display: flex;
}

.nav-bottom ul li a{
    text-decoration: none;
    padding: 20px 10px;
    color: black;
}

.footer {
    background-color: #5c5c5c;
    grid-column: 2 / -1;
    grid-row: 6 / span 1;
    color: white;
    padding-left: 20px;
    padding-top: 28px;
}

.copyright {
    background-color: #313131;
    grid-column: 2 / -1;
    grid-row: 7 / -1;
    color: white;
    padding-left: 20px;
    padding-top: 8px;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h3 {
    padding: 15px;
}

h2 {
    padding: 15px;
    font-weight: normal;
}