* {
    box-sizing: border-box;
    margin: 0;
}

main.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 15% 85%;
    grid-template-rows: 6% 20% 20% 20% 10% 7%
}

ul li {
    list-style: none;
}

nav.nav-top ul {
    display: flex;
    background-color: black;
    color: white;
    font-size: 1em;
    width: 100vw;
    z-index: 100;
}

nav.nav-top ul li {
    display: inline-block;
    padding: 10px 20px;
}

nav.nav-top ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.nav-left {
    display: flex;
    grid-row: 2 / span 6;
    grid-column: 1 / span 1;
    background-color: #848487;
    color: black;
}
