* {
    box-sizing: border-box;
    margin: 0;
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 85%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "nav-top nav-top"
    "nav-left header"
    "nav-left header"
    "nav-left header"
    "nav-left nav-bottom"
    "nav-left footer"
    "nav-left copyright";
}

ul li {
    list-style: none;
}

nav.nav-top ul {
    background-color: black;
    color: white;
    grid-area: nav-top;
}

.nav-left {
    background-color: #848487;
    color: black;
    grid-area: nav-left;
}

.nav-bottom {
    grid-area: nav-bottom;
}

section:nth-of-type(1) {
    grid-area: header;
}

section:nth-of-type(4){
    grid-area: footer;
}

section:nth-of-type(5){
    grid-area: copyright;
}

.nav-left ul li

.nav-top ul li {
    text-decoration: none;
    color: white;
    display: inline-block;
}