#navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

#location {
    font-size: 18px;
    color: white;
}

.card-body {
    background-color: #f8f8f8;
}

#title {
    text-align: center;
    font-size: 14px;
}

#temperature {
    text-align: center;
    font-size: 14px;
}

.card-body {
    padding-bottom: 0;
}
