#navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

#location {
    font-size: 18px;
    color: white;
}

#title {
    text-align: center;
}

#temperature {
    text-align: center;
    font-size: 14px;
}

#img {
    margin-left: 70px;
    width: 80px
}

.card-body {
    padding-bottom: 0;
}